# Ignore Python specific files
*.pyc
__pycache__
*config.py

# Ignore Matlab specific files
/Matlab/*.asv

# Ignore script output files
/**/out

# Ignore data directories
/**/data

# Ignore IDE directories
.idea
.vscode

